/*
body {
  margin
}
*/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.header-group-left, .header-group-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main-header a {
    text-decoration: none; /* Quita el subrayado */
    color: #000000;
    font-weight: 500;
}

.main-header a:hover {
    color: #cc3b17; /* Color al pasar el ratón */
}

.login-button {
  background-color: hsl(0, 86%, 48%);
  color: rgb(252, 250, 250);
  padding: 10px 30px;
  border-color: #cc3b17;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;


}

.login-button:hover {
    color: #cc3b17;
    border-color: #cc3b17; /* Color al pasar el ratón */
    background-color: hsl(0, 0%, 100%);

  }

body {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 40px;
}

footer {
  background-color: rgb(41, 41, 107);
  color: white;
  padding: 20px;
  align-items: flex-end;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.bookmark-illustration {
  display: flex;

  justify-content: space-around;
  /*padding-left: 70px; */
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
  
}
.bookmark-left  {
  padding-top: 100px;
  align-items: center;
  max-width: 450px;
  
}

.bookmark-left p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: rgb(102, 102, 102);
}
.bookmark-left, .bookmark-right {
  
}

.blue-box {
  position: absolute;
  top: 350px;
  left: 1200px;
  width: 600px;
  height: 350px;
  background-color: rgb(70, 70, 199);
  border-radius: 125px;
  border-right: 0px;
  
  
  z-index: 1; 
}

.imageBook  {
  position: relative;

  /* z-index más alto */
  z-index: 2;
  
}

.get-it-button {
  
  color: rgb(0, 0, 0);
  padding: 15px 40px;
  border-radius: 15px;
  margin: 20px;
  border-style: solid;
  background-color: rgb(202, 200, 200);
  border-width: 0px;

}

.get-it-button:hover {
    color: #fefdff;
    border-color: #202294;
    background-color: hsl(239, 89%, 48%); /* Color al pasar el ratón */
}

.features {
  display: flex;
  justify-content: center;
}