/*
body {
  margin
}
*/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.header-group-left, .header-group-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main-header a {
    text-decoration: none; /* Quita el subrayado */
    color: #000000;
    font-weight: 500;
    margin-left: 20px;
}

.main-header a:hover {
    color: #cc3b17; /* Color al pasar el ratón */
}

.login-button {
  background-color: hsl(0, 86%, 48%);
  color: rgb(252, 250, 250);
  padding: 10px 30px;
  border-color: #cc3b17;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  margin-left: 20px

}

.login-button:hover {
    color: #cc3b17;
    border-color: #cc3b17; /* Color al pasar el ratón */
    background-color: hsl(0, 0%, 100%);

  }

main {
  display: block;
  
  
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

footer {
  background-color: rgb(41, 41, 107);
  color: white;
  padding: 20px;
  align-items: flex-end;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.hero_section {
  display: flex;
  flex-direction: column-reverse;
  
  /*padding-left: 70px; */
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
  
}

@media only screen and (min-width: 600px) {
  .hero_section {
    flex-direction: row;
    justify-content: space-around;
  }
}

.buttons-hero {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hero-left  {
  padding-top: 100px;
  align-items: center;
  max-width: 450px;
  margin:auto;
}

.hero-left p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: rgb(102, 102, 102);
}
.bookmark-left, .bookmark-right {
  
}

.blue-box {
  position: absolute;
  top: 350px;
  left: 1200px;
  width: 600px;
  height: 350px;
  background-color: rgb(70, 70, 199);
  border-radius: 125px;
  border-right: 0px;
  
  
  z-index: 1; 
}

.imageBook  {
  position: relative;

  /* z-index más alto */
  z-index: 2;
  
}

.get-it-button {
  
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 15px;
  margin: 20px;
  border-style: solid;
  background-color: rgb(202, 200, 200);
  border-width: 0px;

}

.get-it-button:hover {
    color: #fefdff;
    border-color: #202294;
    background-color: hsl(239, 89%, 48%); /* Color al pasar el ratón */
}

/*.features h1 p {
  /*display: flex; *
  flex-direction: column;
  justify-content: center;
  
  text-align: center;}*/

.features {
/*   display: flex;
  flex-direction: column; */

  text-align: center;
  /*padding-left: 70px; */
  /*padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;*/
  margin: auto;
}

.features p {
  max-width: 300px;
  width: 100%;
  margin: inherit;
  padding-bottom: 20px;
  color: rgb(122, 122, 122);
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 5px;
  
}

@media only screen and (min-width: 600px) {
  .tab {
    flex-direction: row;
    padding-bottom: 15px;

  }
}


.button_tablink {
  background-color: rgb(255, 255, 255);
  border: none;
  width: 300px;
  padding: 20px 10px;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid #8a8989;
  color: grey;
  
  text-align: center;
}

.button_tablink:hover {
  /*border-bottom-color: #cc3b17; */
  color:#d3460f
}

.button_tablink.active {
  border-bottom: 3px solid #cc3b17;
  color:#000000
}
/*
#simpleBookmark {
  display: block;
}


#speadySearching {
  display: none;
}


#easySharing {
  display: none;
}


#speadyButton:active {
  #simpleBookmark {
    display: absolute;
  }
  #speadySearching {
    display: none
  }
  #simpleBookmark {
    display: none;
  }
}

#easyButton:active {
  #simpleBookmark {
    display: none;
  }
  #speadySearching {
    display: none;
  }
  #easySharing {
    display: absolute;
  }
}