// Colors
$orange: #cc3b17;
$blue: #202294;
$light-blue: hsl(239, 74%, 64%);
$dark-blue: hsl(240, 91%, 27%);
$red: #fd5959;
$grey: rgb(141, 141, 141);
$grey-light: #dddcdc;
$white: #ffffff;
$black: #000000;
$light-grey-background: rgb(245, 243, 243);
$dark-grey-text: rgb(49, 49, 49);
$footer-bg: #252B46;
$error-red: red;
$success-green: green;


// Typography
$font-family-primary: 'Rubik', sans-serif;
$font-size-base: 1.6rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 800;

// Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 750px;
$breakpoint-lg: 850px;